:root{
    --primario:#8ab6d6;
    --primarioOscuro:#2978b5;
    --secundario:#fbe0c4;
    --secundarioOscuro:#ffc288;
    --blanco:#FFF;
    --negro:#000;
    --fuentePrincipal: 'Staatliches', cursive;
}
html{
    box-sizing: border-box;
    font-size:62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* ----- GLOBALES ------ */
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--blanco);
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin:0 auto;
}
h1,h2,h3 {
    text-align: center;
    color:var(--secundario);
    font-family: var(--fuentePrincipal);

}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/* ----- HEADER ------ */
.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0;
}
/* ----- FOOTER ----- */
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}
/* ----- NAVEGACIÓN ----- */
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    /* gap:2rem; */
}
.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color:var(--blanco);
    font-size: 3rem;
    margin-right: 2rem;
}
.navegacion__enlace:last-of-type {
    margin-right: 0;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario)
}
/* ----- GRID ----- */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* ------ PRODUCTOS ------ */
.producto{
    background-color: var(--primarioOscuro);
    padding: 1rem;
}
.producto__nombre{
    font-size: 4rem;
    color: var(--secundario)
}
.producto__precio {
    font-size: 2.8rem;
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}
/* ----- GRAFICOS ----- */
.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/3;
}
.grafico--camisas {
    grid-row: 2/3;
    background-image: url(../img/grafico1.jpg);
}
.grafico--node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8/9;
}
@media (min-width: 768px ) {
    .grafico--node {
        grid-row: 5/6;
        grid-column: 2/4;
    }
}
/* ----- NOSOTROS ----- */
.nosotros {
    display: grid;
    grid-template-rows: (2, auto);
}
@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;   
    }
}
.nosotros__imagen {
    grid-row: 1/2;
}
@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2/3;
    }
}
/* ----- BLOQUES ----- */
.bloques {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4,1fr);
    }    
}
.bloque {
    text-align: center;
}
.bloque__imagen {
    width: 100%;
}
.bloque__titulo {
    margin: 0;
}
/* ----- PRENDAS ----- */
.prenda {
    padding: 2rem;
}
@media (min-width: 768px) {
    .prenda {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
.prenda__contenido {
    text-align: center;
}
.prenda__descripcion {
    text-align: justify;
}
ul,
li {
    color: var(--blanco);
    list-style: none;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;

}

@media (min-width: 768px) {
    .prenda__colores {
        grid-template-columns: 1fr;
    }
}
.prenda__tallas,
.prenda__colores {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 2rem;
    text-align: center;
}
.prenda__color {
    display: flex;
    gap: 1rem;
    justify-content: center;
    text-align: center;
}
.color {
    width: 8rem;
}
.negro {
    width: 20px;
    color: black;
    background-color: black;
}
.lila {
    width: 20px;
    color: violet;
    background-color: violet;
}
.celeste {
    width: 20px;
    color: skyblue;
    background-color: skyblue;
}
.blanco {
    width: 20px;
    background-color: white;
}
.boton {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    color: black;
    background-color: var(--secundario);
    font-family: var(--fuentePrincipal);
    padding: 1rem;
    font-size: 2rem;
}
.boton:hover {
    background-color: var(--secundarioOscuro);
}
